<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='overall.css')}}" />
    <script type="text/javascript" src="{{url_for('static',filename='changeitems.js')}}"></script>
    <title>MyBlog</title>
</head>
<body>
    <header class="global-header">
        <ul class="title" id="myLinks">
            {% for item in header_items %}
            {% if item.name == 'Login' and current_user.is_authenticated %}
            <li><a href="../logout">[Logout]</a></li>
            {% else %}
            <li><a href={{item.url}}>[{{item.name}}]</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </header>

    <main class="container" id="main">
        <!-- right hand side with AV girls list-->
        <div class="sidebar">
            <div class="search-box">
                <div class="title">Girls List</div>
                <input type="text" id="q" name="q" onkeyup="SearchGirls()" placeholder="Search for names.." autocomplete="off">
            </div>
            <div class="search-list" id="search-list">
                {% for item in girls_card %}
                <button class="girlname" onclick="pushcard(event, '{{item.jp}}')">{{item.en}} ({{item.ch}}, {{item.jp}})</button>
                {% endfor %}
            </div>
        </div>
        <div class="girls">
            <div class="girls-card">
                {% for item in girls_card %}
                <div class="item">
                    <div class="profile" id="{{item.jp}}">
                        <div class="profile-table">
                            <div class="image-location">
                                <img src="{{item.headshot}}" alt="{{item.jp}}" />
                            </div>
                            <ul class="profile-list">
                                <li class="girl-name">名字 : {{item.jp}}</li>
                                <li class="girl-birth">生日 : {{item.birth}}</li>
                                <li class="girl-company">所屬公司 : {{item.company}}</li>
                                <li class="girl-body">身材 : {{item.body}}</li>
                            </ul>
                        </div>
                        <div class="video-list">
                            {% for k in item.video %}
                            <div class="year">
                                <dl>
                                    <dt>{{k}}</dt>
                                </dl>
                                <ul class="video-title">
                                    {% for v in item.video[k] %}
                                    <li>
                                        <a class="tooltip" href="{{v.video}}" target="_blank">{{v.number}} {{v.title}} ({{v.day}})
                                        <span>
                                            <img src="{{v.video}}" />
                                        </span>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>

    <footer class="global-footer">
        <div id="author">作者: Mr.Chu</div>
        <div id="email">聯絡我: jerrt840622@gamil.com</div>
        <div id="hint">備註: 此網頁任何無營利行為</div>
    </footer>
</body>
</html>