<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='overall.css')}}" />
    <script type="text/javascript" src="{{url_for('static',filename='changeitems.js')}}"></script>
    <title>Blog</title>
</head>
<body>
    <header class="global-header">
        <ul class="title" id="myLinks">
            {% for item in header_items %}
            <li><a href={{item.url}}>[{{item.name}}]</a></li>
            {% endfor %}
            <li><a href="../login">[登入]</a></li>
        </ul>
    </header>

    <main class="container" id="main">
        <!-- right hand side with AV girls list-->
        <div class="sidebar">
            <div class="search-box">
                <div class="title">Girls List</div>
                <input type="text" id="q" name="q" onkeyup="SearchGirls()" placeholder="Search for names.." autocomplete="off">
            </div>
            <!--js只能用id, css可用class & id-->
            <!--class可以被使用很多次, id只可使用一次-->
            <div class="search-list" id="search-list">
                {% for item in girls_card %}
                <button class="girlname" onclick="pushcard(event, '{{item.enname}}')">{{item.enname}} ({{item.chname}}, {{item.jpname}})</button>
                {% endfor %}
            </div>
        </div>
        <div class="main">
            <div class="girls-card">
                {% for item in girls_card %}
                <div class="item">
                    <div class="profile" id="{{item.enname}}">
                        <div class="image-location">
                            <img src="{{item.image}}" alt="{{item.jpname}}" />
                        </div>
                        <div class="profile-table">
                            <ul class="profile-list">
                                <li class="girl-name">名字 : {{item.jpname}}</li>
                                <li class="girl-birth">生日 : {{item.birth}}</li>
                                <li class="girl-company">所屬公司 : {{item.company}}</li>
                                <li class="girl-body">身材 : {{item.body}}</li>
                                <li class="girl-cup">罩杯 : {{item.cup}}</li>
                                <li class="girl-Twitter">Twitter : {{item.twitter}}</li>
                                <li class="girl-IG">IG : {{item.ig}}</li>
                            </ul>
                        </div>
                        <div class="video-list">
                            {% for k in item.video %}
                            <div class="year">
                                <dl>
                                    <dt>{{k}}</dt>
                                </dl>
                                <ul class="video-title">
                                    {% for v in item.video[k] %}
                                    <li>{{v.number}} {{v.title}} ({{v.day}})</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>

    <footer class="global-footer">
        <div id="author">作者: Mr.Chu</div>
        <div id="email">聯絡我: jerrt840622@gamil.com</div>
        <div id="hint">備註: 此網頁任何無營利行為</div>
    </footer>
</body>
</html>